AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DYNAMO_STAFF_TABLE=
S3_BUCKET_NAME=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
SEED_SECRET=
NEXT_PUBLIC_S3_BASE=
NEXT_PUBLIC_MAPBOX_STYLE=
NEXT_PUBLIC_APP_URL=https://campusquest.vercel.app